body{
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: brown;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    font-family: cursive;
    text-align: center;
    color: chartreuse;
}
.parrafo3{
    text-align: center;
    background-color: aquamarine;
}